.content{
    max-width: 800px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    
}

main section{
    margin: 0.5rem;
    border: 1px black;
    padding: 5px;
    background-color: gray;
}


