.headergrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
header{
    background-color: blue;
}

.weddingphoto{
    display: grid;
    grid-column: 1/2;
    width: 125px;
    align-items: left;
}
.name{
    display: grid;
    grid-column: 2/3;
    align-items: center;
}
.content{
    max-width: 800px;
    margin: 0 auto;
}
nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    margin: 0;
}
footer{
    background-color: gold;
}